TARGET_PHONE_NUMBER=+18054398008
ACS_PHONE_NUMBER=+18337858076

AZURE_OPENAI_ENDPOINT=https://eastus.api.cognitive.microsoft.com/
AZURE_OPENAI_DEPLOYMENT=gpt-5-mini
AZURE_OPENAI_API_KEY=

COGNITIVE_SERVICES_ENDPOINT=https://ai-pgai-voice-acs.cognitiveservices.azure.com/
COGNITIVE_SERVICES_KEY=

AZURE_COMMUNICATION_CONNECTION_STRING=

CALLBACK_URL=https://YOUR-NGROK-DOMAIN.ngrok-free.dev/api/callbacks
